.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template h1 {
  font-size: 63px;
}

.container {
  display: flex;

}

.flexChild {
  width: 500px;
  height: auto;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
  background-color: #FF6600;
}

h2 {
  text-align: center;
}

li a {
  cursor:pointer;
}

li span {
  cursor:pointer;
}

@media (max-width : 1000px) {
  #gator {
    display:none;
  }
}

@media (max-width : 500px) {
  .glyphicon {
    display:none;
  }
  .vote {
    display:none;
  }
}

#gator {
  height: auto;
  width: auto;
  position: fixed;

}
