<div class="flexbox">
    <h2> NPR </h2>
    <ul>
        <li class="flexChild" ng-repeat="item in nprPrograms | orderBy:'vote':true">
            <span ng-click='addValue(item)' class="glyphicon glyphicon-arrow-up"></span>
            <span ng-click='lowerValue(item)' class="glyphicon glyphicon-arrow-down"></span>
            <span>{{ item.vote }}</span>
            <a ng-click='showStory = true'>{{ item.title.$text }}</a>
            <div class = "commentField" ng-show="commentClicked">
              <form ng-submit = 'addComment(item,comment)'>
              <input type="text" ng-model="comment">
              <button class="btn btn-primary btn-xs" ng-click='commentClicked = false'>Done</button>
              </form>
            </div>
            <span ng-show='showStory' ng-click='showStory = false'><p>{{ item.teaser.$text}}</p></span>
            <p><button class = "btn btn-success btn-xs" ng-hide='commentClicked' ng-click='commentClicked = true'>Comment</button>
            <a href="{{ item.link[0].$text }}"><button class ="btn btn-primary btn-xs">Link</button> </a></p>

              <ul>
                <li ng-repeat='element in item.comments'>
                  {{ element }}
                </li>
              </ul>


        </li>
    </ul>

  </div>
