<p>This is the NYT page</p>
<div class="col-md-6">
  <h2>New York Times!</h2>
<ul>
  <li ng-repeat="item in nytPrograms | orderBy:'vote':true">
    <span ng-click='addValue(item)' class="glyphicon glyphicon-arrow-up"></span>
    <span ng-click='lowerValue(item)' class="glyphicon glyphicon-arrow-down"></span>
    <span>{{ item.vote }}</span>
    <a ng-click='showStory = true'>{{ item.title }}</a>
    <br>
    <button class = "btn btn-success btn-xs" ng-hide='commentClicked' ng-click='commentClicked = true'>Comment</button>
    <div class = "commentField" ng-show="commentClicked">
      <form ng-submit = 'addComment(item,comment)'>
      <input type="text" ng-model="comment">
      <button class="btn btn-primary btn-xs" ng-click='commentClicked = false'>Done</button>
      </form>
    </div>
    <span ng-show='showStory' ng-click='showStory = false'>{{ item.abstract }}</span>
    <a href="{{ item.url }}"><button class ="btn btn-primary btn-xs">Link</button> </a>
    <ul>
      <li ng-repeat='element in item.comments'>
        {{ element }}
      </li>
    </ul>
  </li>
</ul>
</div>
