<div class="flexbox">
  <h2>New York Times!</h2>

    <ul>
      <li class="flexChild" ng-repeat="item in nytPrograms | orderBy:'vote':true">
        <!-- Upvote and Downvote the story to sort  -->
        <span ng-click='addValue(item)' class="glyphicon glyphicon-arrow-up"></span>
        <span ng-click='lowerValue(item)' class="glyphicon glyphicon-arrow-down"></span>
        <span>{{ item.vote }}</span> 
        <!-- Click title to display story -->
        <a ng-click='showStory = true'>{{ item.title }}</a>
        <!-- Click on story to hide -->
        <p><span ng-show='showStory' ng-click='showStory = false'>{{ item.abstract }}</span></p>
        <div class = "commentField" ng-show="commentClicked">
          <form ng-submit = 'addComment(item,comment)'>
          <input type="text" ng-model="comment">
          <button class="btn btn-primary btn-xs" ng-click='commentClicked = false'>Done</button>
          </form>
        </div>
        <p><button class = "btn btn-success btn-xs" ng-hide='commentClicked' ng-click='commentClicked = true'>Comment</button>
        <a href="{{ item.url }}"><button class ="btn btn-primary btn-xs">Link</button> </a></p>

        <ul>
          <li ng-repeat='element in item.comments'>
            {{ element }}
          </li>
        </ul>
      </li>
    </ul>
</div>
