<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <title>Hacker News</title>

    </head>
    <div class = "jumbotron">
        <p> Super Awesome Text Collator with Arrows and GlyphIcons and Sorting and Stuff </p>
    </div>
    <body ng-controller='newsCtrl'>
        <ul>
            <li ng-repeat="item in programs | orderBy:'vote':true">
                <span ng-click='addValue(item)' class="glyphicon glyphicon-arrow-up"></span>
                <span ng-click='lowerValue(item)' class="glyphicon glyphicon-arrow-down"></span>
                <span>{{ item.vote }}</span>
                <a ng-click='showStory = true'>{{ item.title.$text }}</a>
                <span ng-show='showStory' ng-click='showStory = false'><p>{{ item.teaser.$text}}</p></span>
                <form ng-submit = 'addComment(item,comment)'>
                <input type="text" ng-model="comment">
                <button class="btn btn-primary">Comment</button>
                </form>
                <div class ="comments">
                  <ul>
                    <li ng-repeat='element in item.comments'>
                      {{ element }}
                    </li>
                  </ul>
                </div>

            </li>
        </ul>
    </body>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="controllers/newsCtrl.js"></script>


</html>
